@page
@model Frontend.Pages.Migrantes.EliminarEmergenciaModel
@{
}

<div class="row justify-content-center bg-light">
    <div class="col-sm-12">
        <h3>Cancelar emergencias [<a asp-page="Emergencias" asp-route-userNameA="@User.Identity.Name">Volver a Emergencias</a>]
        <br/>
        <span class="text-danger">@ViewData["Existe"]</span>  
        @if(ViewData["Existe"] != "La emergencia no existe por favor validar")
        {
            <form method="post">
                <br/>
                <hr/>
                <br/>
                <h2>Esta seguro que desea cancelar esta emergencia?</h2>
                <input type="hidden" asp-for="_emergencia.Id" class="form-control" readonly />
                <input type="hidden" asp-for="_emergencia.Status" class="form-control" readonly />
                <span class="text-danger">@ViewData["Mensaje"]</span>
                <span class="text-success">@ViewData["mensajeCreado"]</span>
                <br/>
                <br/>
                <button type="submit" class="btn btn-success btn-lg">Si, estoy Seguro</button>
                </form>
                <br/>
                    <button class="btn btn-warning btn-lg"><a asp-page="Emergencias" asp-route-userNameA="@User.Identity.Name">No estoy seguro</a></button>

        }
        </h3>
        <br/>
    </div>

</div>